<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,-25" />    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' -25,
          'opsz' 40
        }
        </style>
</head>

<body>
    <div class = 'contact-card'>
        <div class = 'information'>

            <div class = 'location'>
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p>Rennes, France</p>
            </div>

            <div class = 'phone'>
                <span class="material-symbols-outlined">
                    call_quality
                </span>
                <p>06.59.10.70.68</p>
            </div>

            <div class = 'mail'>
                <span class="material-symbols-outlined">
                    stacked_email
                </span>
                <p>asmmido48@gmail.com</p>
            </div>

            <div class = 'git'>
                <span class="material-symbols-outlined">
                    share
                </span>
                <p> <a> https://github.com/AsmaaNazih?tab=repositories </a>  </p>
            </div>

        </div>


        <div class = 'write-me'>
            <h3>Contact me</h3>
            <div class = 'formulaire'>
                <form #emailForm="ngForm"  (ngSubmit)="onSubmitForm(emailForm)" [@listItem]="nameItemAnimation">
                    <label for="name"></label>
                    <input type="text" id="name"[(ngModel)]= "userName" name = "userName" required="true" placeholder="Your name">
                    <label for="emailInput"></label>
                    <input type="email" id="emailInput"[(ngModel)] = "userMail" name="userMail" required="true" placeholder="Your email">
                    <label for="champ"></label>
                    <textarea id="text" [(ngModel)]="text" name="text" required="true" placeholder="Write me.."></textarea>                    
                    <button type="submit">Send!</button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
