<body>
    <div class = 'box'>
        <img src="assets/profil.jpeg" alt="Mon profil">
        <div class = "presentation">
            <p>
                Actuellement en Master 1 en Génie Logiciel,<br>
                 je suis à la recherche d'une opportunité de stage ou d'alternance pour approfondir mes connaissances.<br>
                Diplômée avec mention bien de ma Licence en informatique,<br>
                j'ai clôturé avec succès ma troisième année d'études.<br>
                Mon objectif est de contribuer au développement de solutions innovantes au sein d'une entreprise dynamique,<br>
                 où je pourrai continuer à apprendre et à évoluer dans le domaine du génie logiciel.
            </p>
        </div>
    </div>
</body>
