<body>
    <div class = 'box'>
        <img src="assets/profil.jpeg" alt="Mon profil">
        <div class = "presentation">
            <p>
                Diplômée avec mention bien de ma Licence en informatique, <br>
                je suis fière d'avoir terminé avec succès ma troisième année d'études. <br> 
                À présent, je suis à la recherche d'une alternance pour poursuivre mon <br>
                parcours en Master. Passionnée par le génie logiciel, <br>
                je souhaite mettre en avant mes compétences et mes <br>
                connaissances acquises afin de contribuer au développement <br> 
                de solutions innovantes. Mon objectif principal est de trouver <br>
                une entreprise dynamique où je pourrai continuer à apprendre et <br>
                évoluer dans le domaine du génie logiciel. <br>
            </p>
        </div>
    </div>
</body>
