.career-card{
    font-family: serif;
    margin-left: 30%;
    width: 35%;
    box-shadow: 5px 5px 5px 5px#FFFFFF ;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 2%;
    color: #FFFFFF;

}

#lieu{
    font-style: italic;
} 

.periode{
    width: 30%;
} 

.information{
    width: 70%;
} 

@media screen and (max-width: 576px) {
    .career-card{
        width: 90%;
        margin-left: 3%;
        margin-top: 4%;
        flex-direction: column;
    } 
} 